@font-face {
    font-family: 'TeXGyrePagella';
    src: url(../fonts/texgyrepagella-regular.woff) format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TeXGyrePagella';
    src: url(../fonts/texgyrepagella-bold.woff) format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TeXGyrePagella';
    src: url(../fonts/texgyrepagella-bolditalic.woff) format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}
